*.class
*.log

# Linux
*~

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Sublime Text
carnival-mirror.sublime-project
carnival-mirror.sublime-workspace